
:root {
   --color-black : #07090A  ;
   --color-salmon-light : rgb(255, 165, 105);
   --color-silver : #e4e7ea;
   --color-salmon-dark : #e9967a;
   --color-white : #fff;
   --color-jaune : #ddb122;
   --color-silver-3 : #808080;
   --color-online : 	rgb(148, 158, 148);
   
}


#contact {
    background: var(--color-white);
    padding-top: 96px;
    padding-bottom: 102px;
    color: var(--color-black);
 }
 #contact .section-head { margin-bottom: 42px; }
 
 #contact a, #contact a:visited  { color: var(--color-jaune); }
 #contact a:hover, #contact a:focus { color: var(--color-jaune); }
 
 #contact h1 {
    font: 20px/24px 'Josefin sans', sans-serif;
    color: var(--color-black);
    margin-bottom: 6px;
 }

 #contact h1:before {
    font-family: 'FontAwesome';
    content: "\f0e0 ";
     padding-right: 10px;
     font-size: 72px;
    line-height: 72px;
    text-align: left;
    float: left;
    color: var(--color-black);
 }
 
 #contact h4 {
    font: 16px/24px 'opensans-bold', sans-serif;
    color: var(--color-black);
    margin-bottom: 6px;
 }
 #contact p.lead {
    font: 18px 'Josefin sans', sans-serif;
    padding-right: 3%;
 }
 #contact .header-col { padding-top: 6px; }
 
 
 /* contact form */
 #contact form { margin-bottom: 30px; }
 #contact label {
    font: 15px/24px 'opensans-bold', sans-serif;
    margin: 12px 0;
    color: var(--color-black);
     display: inline-block;
     float: left;
    width: 26%;
 }
 #contact input,
 #contact textarea,
 #contact select {
    padding: 18px 20px;
     color: var(--color-black);
     resize: none;
     background: var(--color-white);
     border: 2px solid var(--color-black);
     margin-bottom: 42px;
     
     outline: none;
    font-size: 15px;
    line-height: 24px;
    width: 65%;
 }
 #contact input:focus,
 #contact textarea:focus,
 #contact select:focus {
     color: var(--color-black);
     background-color: var(--color-white);
 }
 #contact button.submit {
     text-transform: uppercase;
     letter-spacing: 3px;
     color:#fff;
    background: var(--color-jaune);
     border: none;
    cursor: pointer;
    height: auto;
    display: inline-block;
     border-radius: 3px;
    margin-left: 26%;
 }
 #contact button.submit:hover {
     color: var(--color-white);
     background: var(--color-black);
 }
 #contact span.required {
     color: var(--color-jaune);
     font-size: 18Spx;
 }
 #message-warning, #message-success {
    display: none;
     background: #0F0F0F;
     padding: 24px 24px;
     margin-bottom: 36px;
    width: 65%;
    margin-left: 26%;
 }
 #message-warning { color: #D72828; }
 #message-success { color: #11ABB0; }
 
 #message-warning i,
 #message-success i {
    margin-right: 10px;
 }
 #image-loader {
    display: none;
    position: relative;
    left: 18px;
    top: 17px;
 }

 a.twitter-timeline.twitter-timeline-error{
   display: none;
 }

 .littleForm a {
      background-color: var(--color-black);
      color: var(--color-white);
      padding-bottom: 8px;
      padding-top: 8px;
      padding-right: 8px;
      padding-left: 8px;
      border-radius: 36px;

 }
 
 